[submodule "gkd"]
	path = gkd
	url = https://github.com/gkd-kit/gkd.git
[submodule "backend"]
	path = backend
	url = https://github.com/hujiayucc/FuckAD-Backend.git
[submodule "author"]
	path = author
	url = https://github.com/hujiayucc/FuckAD-Author.git
[submodule "repo"]
	path = repo
	url = https://github.com/Xposed-Modules-Repo/com.hujiayucc.hook.git
